.wrapper{
  @apply w-screen min-h-screen relative;
}

.wrapper > form{
  @apply w-max p-3 absolute left-5 top-5;
  animation: fade 1s;
  animation: slideIn 1s;
}

.wrapper > form > h1 {
  @apply text-2xl mb-3;
}

.wrapper > form > input {
  @apply block py-1.5 px-3 mb-3 w-full
  bg-black/30 border border-transparent outline-none;
  transition: border-color 0.4s linear;
}

.wrapper > form > input:focus {
  @apply border-[#ffb3c0]
}

.wrapper > form > button{
  @apply text-lg font-medium uppercase py-1 px-4 border border-white mt-2;
  transition: box-shadow 0.1s linear;
}

.wrapper > form > button:hover{
  @apply shadow shadow-white;
}

.success{
  @apply text-green-400 text-2xl font-medium m-auto;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}